/* SignUp.css */
.animate-fadein {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@media (min-width: 900px) {
  .card {
    min-width: 520px;
    max-width: 720px;
  }
}
/* 
.btn-outline-success,
.btn-success {
  min-width: 30px !important;
  min-height: 30px !important;
  font-size: 2.1rem !important;
  border-radius: 13px !important;
} */
